html{font-family:Arial, Helvetica, sans-serif; background-color:#FFFFFF}
.principal{
    font-size: 20;
    border-style: solid;
    border-color: rgb(162, 218, 255);
    mask-border-outset: 0;
    border-left-width: 5;
    border-right-width: 0;
    border-bottom-width: 0;
    border-top-width: 0;
    color: black;
    padding: 5 5 5 30;
    background-color: rgb(229, 245, 255);
}

.principaltitulos{
    font-size: 40;
    border-style: solid;
    border-color: rgb(162, 218, 255);
    mask-border-outset: 0;
    border-left-width: 5;
    border-right-width: 0;
    border-bottom-width: 0;
    border-top-width: 0;
    color: black;
    padding: 5 5 5 30;
    background-color: rgb(229, 245, 255);
}


.descricao{
    font-style: normal;
    text-shadow: 0px 0px 4px rgb(87, 87, 87);
    color: rgb(255, 255, 255);


}



.cabecario{
    border-style: solid;
    border-color: rgb(162, 218, 255);
    mask-border-outset: 0;
    border-left-width: 5;
    border-right-width: 0;
    border-bottom-width: 0;
    border-top-width: 0;
    background: rgb(229, 245, 255);
    padding: 15 10 15 30;
}


.facil{font-style: normal;color: hsl(120, 100%, 35%);}
.principalfacil{
    font-size: 20;
    border-style: solid;
    border-color: hsl(120, 100%, 35%);
    mask-border-outset: 0;
    border-left-width: 5;
    border-right-width: 0;
    border-bottom-width: 0;
    border-top-width: 0;
    color: black;
    padding: 5 5 5 30;
    background-color: hsl(120, 100%, 70%);}


.facilmed{font-style: normal;color: hsl(73, 100%, 35%);}
.principalfacilmed{
    font-size: 20;
    border-style: solid;
    border-color: hsl(73, 100%, 35%);
    mask-border-outset: 0;
    border-left-width: 5;
    border-right-width: 0;
    border-bottom-width: 0;
    border-top-width: 0;
    color: black;
    padding: 5 5 5 30;
    background-color: hsl(73, 100%, 70%);}


.mediano{font-style: normal;color: hsl(60, 100%, 35%);}
.principalmediano{
    font-size: 20;
    border-style: solid;
    border-color: hsl(60, 100%, 35%);
    mask-border-outset: 0;
    border-left-width: 5;
    border-right-width: 0;
    border-bottom-width: 0;
    border-top-width: 0;
    color: black;
    padding: 5 5 5 30;
    background-color: hsl(60, 100%, 70%);}


.dificilmed{font-style: normal;color: hsl(46, 100%, 35%);}
.principaldificilmed{
    font-size: 20;
    border-style: solid;
    border-color: hsl(46, 100%, 35%);
    mask-border-outset: 0;
    border-left-width: 5;
    border-right-width: 0;
    border-bottom-width: 0;
    border-top-width: 0;
    color: black;
    padding: 5 5 5 30;
    background-color: hsl(46, 100%, 70%);}


.dificil{font-style: normal;color: hsl(0, 100%, 35%);}
.principaldificil{
    font-size: 20;
    border-style: solid;
    border-color: hsl(0, 100%, 35%);
    mask-border-outset: 0;
    border-left-width: 5;
    border-right-width: 0;
    border-bottom-width: 0;
    border-top-width: 0;
    color: black;
    padding: 5 5 5 30;
    background-color: hsl(0, 100%, 70%);}


.expli{
    border-style: solid;
    border-color: hsl(180, 10%, 70%);
    mask-border-outset: 0;
    border-left-width: 5;
    border-right-width: 0;
    border-bottom-width: 0;
    border-top-width: 0;
    color: black;
    padding: 5 5 5 30;
    background-color: hsl(0, 0%, 90%);}



a.button{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    border-style: solid;
    border-color: rgb(162, 218, 255);
    mask-border-outset: 0;
    border-left-width: 5;
    border-right-width: 0;
    border-bottom-width: 0;
    border-top-width: 0;
    color: black;

    padding: 5 5 5 30;
    cursor: pointer;
    background-color: rgb(229, 245, 255);
}
a.button:hover{
    background-color: hsl(204, 100%, 82%);
    color: black;
    border-color: hsl(204, 100%, 69%);
    text-shadow: 0px 0px 4px hsl(204, 100%, 69%);
}



a.topo{
    text-shadow: 0px 0px 4px rgb(87, 87, 87);
    color: rgb(255, 255, 255);
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    border-style: solid;
    border-color: rgb(162, 218, 255);
    mask-border-outset: 0;
    border-left-width: 5;
    border-right-width: 0;
    border-bottom-width: 0;
    border-top-width: 0;

    padding: 5 5 5 30;
    cursor: pointer;
    background-color: rgb(229, 245, 255);
}
a.topo:hover{
    background-color: hsl(204, 100%, 82%);
    color: black;
    border-color: hsl(204, 100%, 69%);
    text-shadow: 0px 0px 4px rgb(97, 192, 255);
}

.linhaentredesc{
    color: rgb(87, 87, 87);
    border-top: 5px;
    border-bottom: 5px;

}

button{
    padding:6px;
    width:300px;
}

.dizima{
    font-style:normal;
    border-collapse:collapse;
    border-top:1px solid black;
    padding:1px;
}
